<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
  <title>Top Crimes</title>
</head>
  <body>
    <div class="jumbotron">
        <ag-grid-angular 
        style="width: 600px; height: 1200px; float:center;" 
        class="ag-theme-material"
        [enableSorting]="true"
        [enableFilter]="true"
        [rowData]="rowData | async" 
        [columnDefs]="columnDefs"></ag-grid-angular>
    </div>
  </body>
</html>