<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
  <title>Top Crimes</title>
</head>
  <body>
      <div class="jumbotron" style="width:75%; margin: auto">
          <h2 align="center">TOP CRIMES</h2>
          <p class="lead">The Top Crimes endpoint returns the most popular crimes in the NFL.</p>
          <hr class="my-4">
          <p>The base url for the first version of the api is http://nflarrest.com/api/v1/, next you have the endpoints Crime, Team, Player. 
            All requests should be made with HTTP GET requests</p>

          <hr class="my-4">
        <ag-grid-angular 
        style="width: 600px; height: 1200px; float:center;" 
        class="ag-theme-material"
        [enableSorting]="true"
        [enableFilter]="true"
        [rowData]="rowData | async" 
        [columnDefs]="columnDefs"></ag-grid-angular>
    </div>
  </body>
</html>