
  <form>
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Start-Date"
               class="form-control"
               bsDatepicker>
      </div>
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
                 placeholder="End-Date"
                 class="form-control"
                 bsDatepicker>
        </div>
        <div class="col-xs-12 col-12 col-md-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
